About:
  tabTitle: "Quant a"
  releaseNotes: "Notes de la Versió"
  newUpdate: "Nova Actualització"
  upToDate: "Atom està actualitzat!"
  checkingForUpdates: "Buscant actualitzacions..."
  checkUpdatesNow: "Comprova ara"
  automaticDownloadUpdates: "Descàrrega automàtica d'actualitzacions"
  restartInstall: "Reiniciar i instal·lar"
  license: "Llicència"
  termsOfUse: "Termes d'ús"
  with: " amb "
  by: " per "
  andTheAwesome: "I la increïble "
  atomCommunity: "Comunitat Atom"
